body {
    /*background: salmon;*/
    /*color: #fff;*/
    padding: 0;
    margin: 0;
}

canvas {
    /*background: #ccc;*/
}

svg {
    /*background: rgba(46,139,87,0.5);*/
    background: #fff;
}

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke: rgba(46, 139, 87, 0.5);
}

.salmon {
    stroke: salmon;
}


/*sankey*/

#chart {
    height: 500px;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}


/*histogram*/

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
