body {
    /*background: salmon;*/
    /*color: #fff;*/
    padding: 0;
    margin: 0;
}

canvas {
    /*background: #ccc;*/
}

svg {
    /*background: rgba(46,139,87,0.5);*/
    background: #fff;
}

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke: rgba(46, 139, 87, 0.5);
}

.salmon {
    stroke: salmon;
}


/*sankey*/

#chart {
    height: 500px;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}


/*histogram*/

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}


/*level-score*/

.line0 {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.line1 {
    fill: none;
    stroke: seagreen;
    stroke-width: 1.5px;
}

.line3 {
    fill: none;
    stroke: salmon;
    stroke-width: 1.5px;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

path {
    stroke-width: 1.5;
    stroke: steelblue;
}

text {
    font-family: Verdana;
    font-weight: 100;
    font-size: 16px;
    fill: black;
}

.text0 {
    font-family: Verdana;
    font-weight: 100;
    fill: steelblue;
}

.text1 {
    fill: seagreen;
    font-family: Verdana;
    font-weight: 100;
}

/*source han sa*/
@font-face {
    font-family: "Source Han Sans CN";
    src: local("Source Han Sans CN") url("./lib/fonts/NotoSans-Regular.ttf");
}
